body {
   background-color:MistyRose;
  color:Grey;
  font-family: Indie Flower;
}
​
h1 {
  color: Black;
  font-family: Indie Flower
}
​
h2 {
  color: Grey;
  font-family: Indie Flower
}
​
p {
  color: Grey;
  font-family: Indie Flower
}
​
h3 {
  color: Grey;
  font-family: Indie Flower
}
​
h4 {
  color: Grey;
  font-family: Indie Flower
}
​
footer {
  color: Grey;
  font-family: Indie Flower
}
​
a {
  color: Grey;
  font-family: Indie Flower
}
